@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import "./partials/index.scss";
@import "./components/index.scss";
@import "./pages/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  color: inherit;
  list-style: none;
  // background-color: pink;
}

html {
  // font-size: 14px;
}
body {
  height: 100vh;
  overflow: hidden;
}

.courseAttendanceCard {
  background-color: var(--colorNeutralWhite);
  color: var(--colorNeutralBlack);

  .btn {
    border: 0.125rem solid var(--colorBlue1);
    color: var(--colorBlue1);

    &:hover {
      border-color: var(--colorNeutralWhite);
      color: var(--colorNeutralWhite);
    }
  }

  &,
  &__selected {
    width: 16.25rem;
    padding: 1.5rem 0;
    border-radius: 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.375rem;

    &__wrap {
      display: flex;
      flex-direction: column;
      row-gap: 0.625rem;
    }
    &__imageWrapper {
      display: grid;
      grid-template-columns: repeat(2, 5rem);

      img {
        grid-column: 1/-1;
        grid-row: 1/1;
      }

      img:last-child {
        justify-self: flex-end;
      }
      img:only-child {
        justify-self: center;
      }
    }
    &__info {
      text-align: center;
      &--title {
        @include boldCopy3Bold;
      }
      &--body {
        @include boldCopy5Regular;
      }
    }
    &__stats {
      display: flex;
      justify-content: space-between;
      &--cards {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
        @include boldCopy4Regular;
        .percentage {
          width: 2.8125rem;
          height: 2.8125rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: var(--colorNeutralBlack);
        }
        &:first-child {
          padding-right: 1.5rem;
          position: relative;
          .percentage {
            background-color: var(--colorBlue4);
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 2.8125rem;
            background-color: rgba($color: #000000, $alpha: 0.2);
          }
        }
        &:last-child {
          padding-left: 1.5rem;
          .percentage {
            background-color: var(--colorBlue2);
          }
        }
      }
    }
    img {
      width: 5.375rem;
      height: 5.375rem;
      border-radius: 50%;
      border: 1px solid var(--colorBlue3);
    }
    .btn {
      padding: 0.5625rem 1.25rem;
    }
  }
  &__selected {
    background-color: var(--colorBlue1);
    color: var(--colorNeutralWhite);
    .btn {
      border: 0.125rem solid var(--colorNeutralWhite);
      background-color: var(--colorBlue1);
      color: var(--colorNeutralWhite);
      
      &:hover {
        border-color: var(--colorNeutralWhite);
        color: var(--colorNeutralWhite);
      }
    }
  }
}
