.signUpForm {
  justify-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
  width: 21.875rem;

  .inputWrapper {
    position: relative;
  }
  .formBreaker {
    color: var(--colorNeutralGrey2);
    display: flex;
    justify-content: center;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      background-color: var(--colorNeutralGrey2);
      inset: 47.5% 58% 47.5% 0;
    }
    &::after {
      background-color: var(--colorNeutralGrey2);
      inset: 47.5% 0 47.5% 58%;
    }
  }
  .btnOutline {
    justify-content: space-around;
    border-color: var(--colorNeutralBlack);
  }
  .signUpTerms{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      column-gap: 1rem;
      color: var(--colorNeutralGrey2);
      @include boldCopy5Regular;

      span{
          @include boldCopy5Bold;
      }
  }
}
