:root {
  --colorBlueMain: #246ee9;
  --colorBlue1: #104db2;
  --colorBlue2: #6d9ef0;
  --colorBlue3: #a9c3ee;
  --colorBlue4: #d3e2fb;

  --colorAccent1: #27ed5e;
  --colorAccent2: #821cec;
  --colorAccent3: #d74e96;

  --colorSuccess: #0d8840;
  --colorError: #dc3a3f;
  --colorWarning: #fa6b00;
  --colorInformation: #006ed8;

  --colorNeutralWhite: #ffffff;
  --colorNeutralGrey: #aaaaaa;
  --colorNeutralGrey2: #808080;
  --colorNeutralBlack: #000000;
}
