.dashboard {
  &__avatar {
    background-color: red;
    width: 3.533333333333333rem;
    height: 3.533333333333333rem;
    border-radius: 50%;
    border: 1px solid var(--colorBlue3);
  }
  &__header {
    padding: 1.6875rem 0 0.75rem 0;
    box-shadow: 0px 2px 16px 0px #00000033;


    &_nav {
      grid-column: 2/-2;
      justify-self: flex-end;
      &List {
        &,
        li:last-child {
          @include flexalign;
          column-gap: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
  &__cardsContainer {
    grid-column: 2/-2;
    background-color: var(--colorNeutralGrey3);
    padding: 3rem 0;
    height: calc(100vh - 6rem);
    overflow-y: scroll;
    @include flexcolumn;
    row-gap: 3rem;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    &_subContainer {
      display: flex;
      column-gap: 1.5rem;
      .classCards {
        flex: 1;
      }
      .academicCards {
        flex: 1;
        background-color: var(--colorNeutralWhite);
        padding: 1.6875rem;
        padding: 2.5rem 2rem 2.5rem 2.25rem;
        border-radius: 0.75rem;
      }
    }
  }

  &__cards {
    @include flexcolumn;
    row-gap: 1.5rem;
  }
}
.class {
  display: flex;
  column-gap: 1.5rem;
  &__card {
    flex: 1;
    padding: 0.5rem 1rem 0.75rem 1rem;
    border-radius: 0.75rem;
    background-color: antiquewhite;
    @include flexcolumn;
    row-gap: 0.625rem;

    &--title {
      @include boldCopy4Regular;
      color: #00000080;
    }
    &--body {
      @include boldCopy1Regular;
      color: var(--colorNeutralBlack);
    }
  }
}

.title__container {
  @include gridcolumn(max-content 1fr max-content);
  row-gap: 0.875rem;

  &--title {
    grid-column: 1/2;
    @include boldCopy3Bold;
    color: var(--colorNeutralBlack);
  }
  
  .sortResult {
    grid-column: 3/4;
    justify-self: flex-end;
    @include flexalign;
    column-gap: 0.25rem;

    select {
      border: none;
      @include boldCopy5Regular;
      color: #00000080;

      &:focus {
        outline: none;
      }
    }
  }
}

.allStudent {
  flex: 1;
  background-color: var(--colorNeutralWhite);
  padding: 2.5rem 2.25rem;
  padding-top: 1.6875rem;
  border-radius: 0.75rem;

  &__wrapper {
    @include flexcolumn;
    row-gap: 1.25rem;
  }
}

.student__card {
  @include gridcolumn(
    [titleS]7.625rem [titleE] 2rem [sexS]max-content[sexE] 4rem [ageS]
      max-content [ageE] 3rem [statusS] max-content [statusE]
  );
  color: var(--colorNeutralBlack);
  justify-content: space-between;
  align-items: center;
  @include boldCopy4Regular;

  &--title {
    grid-column: titleS/titleE;
  }

  &--sex {
    grid-column: sexS/sexE;
  }

  &--age {
    grid-column: ageS/ageE;
  }

  &--status {
    grid-column: statusS/statusE;
    color: var(--colorSuccess);
  }
}

.attendancedb {
  flex: 1;
  padding: 1.75rem;
  border-radius: 0.75rem;
  background-color: var(--colorNeutralWhite);

  &__head {
    @include flexbtw;
  }
}
