.dashboard {
  &__avatar {
    background-color: red;
    width: 3.533333333333333rem;
    height: 3.533333333333333rem;
    border-radius: 50%;
    border: 1px solid var(--colorBlue3);
  }
  &__header {
    padding: 1.6875rem 4.5rem 0.75rem 1.5rem;
    border-bottom: 1px solid #00000033;
    display: flex;
    justify-content: flex-end;

    &_nav {
      &List {
        &,
        li:last-child {
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
  &__cardsContainer {
    background-color: rgba(170, 241, 29, 0.312);
    padding-left: 1.5rem;
    padding-right: 4.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    &_subContainer {
      display: flex;
      column-gap: 1.5rem;
      .classCards{
          flex: 1;
        //   width: 100%;
      }
    }
  }

  &__cards {
    // flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }



}
.class {
  display: flex;
  column-gap: 1.5rem;
  &__card {
    flex: 1;
    padding: .5rem 1rem 0.75rem 1rem;
    border-radius: 0.75rem;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;

    &--title {
      @include boldCopy4Regular;
      color: #00000080;
    }
    &--body {
      @include boldCopy1Regular;
      color: var(--colorNeutralBlack);
    }
  }
}

.title__container {
  //   display: flex;
  //   justify-content: space-between;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  row-gap: 0.875rem;

  &--title {
    grid-column: 1/2;
    @include boldCopy3Bold;
    color: var(--colorNeutralBlack);
  }
  a {
    grid-column: 3/4;
    color: var(--colorBlue1);
  }
  .sortResult {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    column-gap: 1.125rem;

    select {
      border: none;
      padding-right: 2.6875rem;
      @include boldCopy5Regular;
      color: #00000080;

      &:focus {
        outline: none;
      }
    }
  }
}

.allStudent {
  background-color: var(--colorNeutralWhite);
  padding: 2.25rem;
  padding-top: 1.6875rem;
  border-radius: 0.75rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
  }
}

.student__card {
  display: grid;
  grid-template-columns: [imgS]max-content[imgE] 1.25rem [titleS]110px[titleE] 5rem [gradeS]max-content[gradeE] 2.25rem [btnS] max-content [btnE];
  color: var(--colorNeutralBlack);
  align-items: center;

  &--img {
    width: 2.8125rem;
    height: 2.8125rem;
    border: 1px solid var(--colorBlue1);
    background-color: purple;
    border-radius: 50%;
    grid-column: imgS/imgE;
  }

  &--title {
    @include boldCopy4Regular;
    grid-column: titleS/titleE;
  }

  &--grade {
    @include boldCopy3Bold;
    grid-column: gradeS/gradeE;
  }

  &--btn {
    border: none;
    padding: 6px .5rem;
    grid-column: btnS/btnE;
    background-color: rgba($color: #dc3a3f, $alpha: 0.1);
    display: flex;
    justify-self: flex-end;
  }
}
