@import "./dashboard.scss";
@import "./mystudent.scss";

.adminShell {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--colorNeutralGrey3);
  &__header {
    background-color: var(--colorBlue1);
    @include gridcolrow(
      1.5rem [logoS] 3rem [navS] 1fr[logoE] 3.25rem,
      3.5rem [logoStart]max-content[logoEnd] 3.5rem
        [navStart]max-content[navEnd] 1.77fr [logoutStart]max-content[logoutEnd]
        2.27fr
    );
    place-content: center;

    &--logo {
      grid-row: logoStart/logoEnd;
      grid-column: logoS/logoE;
      justify-self: flex-start;
    }
    .navigation {
      grid-row: navStart/navEnd;
      grid-column: navS/-1;

      &List {
        @include flexcolumn;
        row-gap: 2.25rem;

        &__itm {
          color: var(--colorBlue2);
          @include boldCopy3Regular;
          path {
            fill: var(--colorBlue2);
          }

          &,
          &-active {
            @include flexalign;
            column-gap: 1.25rem;
            padding: 0.5rem 0;
          }

          &-active {
            color: var(--colorBlue4);
            position: relative;
            @include boldCopy3Bold;
            path {
              fill: var(--colorBlue4);
            }

            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 0.75rem;
              height: 2.5rem;
              inset: 0 0 0 auto;
              background-color: #d74e96;
              border-top-left-radius: 0.75rem;
              border-bottom-left-radius: 0.75rem;
            }
          }
        }
      }
    }
    &--btn {
      grid-row: logoutStart/logoutEnd;
      grid-column: navS/-1;
      justify-self: flex-start;
      border: none;
      background-color: transparent;
      @include boldCopy3Regular;
      @include flexalign;
      column-gap: 1.25rem;
      color: var(--colorBlue4);
      padding: 0.5rem 0;
      cursor: pointer;
    }
  }
  &__body {
    grid-column: 2/3;
    flex: 1;
    position: relative;
    @include gridcolumn(4.5rem 1fr 4.5rem);
    
    &--header {
      position: absolute;
      inset: 0 0 auto 0;
      grid-column: 1/-1;
      @include gridcolumn(4.5rem 1fr 4.5rem);
    }
    &--content {
      margin-top: 6rem;
      background-color: var(--colorNeutralGrey3);
      grid-column: 1/-1;
      @include gridcolumn(4.5rem 1fr 4.5rem);
    }
  }
}
